In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import math
import sympy as sym
import re
import matplotlib.pyplot as plt
%matplotlib inline

/Users/sudippandey/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#%magic
%pwd

'/Users/sudippandey/Documents/ds_salary_proj'

In [3]:
%ls

How_to_open_website.py    chromedriver*             data_collection.py
README.md                 data_cleaning.ipynb       glassdoor_jobs.csv
__pycache__/              data_cleaning_more.ipynb  glassdoor_scapper.py

In [4]:
#reading csv file
df=pd.read_csv('glassdoor_jobs.csv')

In [5]:
#displaying first five rows and columns
df.head(20)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$112K-$133K (Glassdoor est.),"About Us:\n\nLocated in Allen, TX Cytracom is ...",5.0,Cytracom\n5.0,"Allen, TX","Allen, TX",1 to 50 employees,2008,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,"RingCentral, Nextiva, 8x8"
1,Data Scientist,$112K-$133K (Glassdoor est.),Entefy’s Senior Data Scientist is a highly vis...,4.3,Entefy\n4.3,"Palo Alto, CA","Palo Alto, CA",1 to 50 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
2,Data Analyst,$112K-$133K (Glassdoor est.),Breckenridge Grand Vacations (BGV) is seeking ...,4.6,Breckenridge Grand Vacations\n4.6,"Breckenridge, CO","Breckenridge, CO",501 to 1000 employees,1984,Company - Private,"Hotels, Motels, & Resorts",Travel & Tourism,$10 to $25 million (USD),-1
3,Data & Analytics Consultant,$112K-$133K (Glassdoor est.),WHO WE LOOK FOR\n\nAn SEI Consultant is a mast...,4.6,SEI\n4.6,"Atlanta, GA","Cincinnati, OH",201 to 500 employees,1992,Company - Private,Consulting,Business Services,$50 to $100 million (USD),-1
4,Data Analyst,$112K-$133K (Glassdoor est.),"At Make-A-Wish® America, we are more than a gr...",3.6,Make-A-Wish Foundation of America\n3.6,"Phoenix, AZ","Phoenix, AZ",1001 to 5000 employees,1980,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1
5,Market Data Analyst,$112K-$133K (Glassdoor est.),A bit about us:\n\nWe’re on a mission to chang...,4.3,Devoted Health\n4.3,"Houston, TX","Waltham, MA",201 to 500 employees,2017,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1
6,Senior Data Scientist,$112K-$133K (Glassdoor est.),GEICO’s Data Science team uses predictive anal...,3.3,GEICO\n3.3,"Chevy Chase, MD","Washington, DC",10000+ employees,1936,Subsidiary or Business Segment,Insurance Carriers,Insurance,$10+ billion (USD),-1
7,Data Scientist,$112K-$133K (Glassdoor est.),"As a Data Scientist, you will have the unique ...",3.3,NT Concepts\n3.3,"Chantilly, VA","Vienna, VA",501 to 1000 employees,1998,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1
8,Machine Learning Engineer,$112K-$133K (Glassdoor est.),CircleUp harnesses the power of machine learni...,4.5,CircleUp\n4.5,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2012,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1
9,Data Engineer,$112K-$133K (Glassdoor est.),U.S. citizenship is required for this position...,3.0,WPS Health Solutions\n3.0,"Madison, WI","Monona, WI",1001 to 5000 employees,1946,Company - Private,Insurance Carriers,Insurance,$2 to $5 billion (USD),-1
10,"Data Scientist (Palo Alto, CA or Remote US)",$112K-$133K (Glassdoor est.),The Opportunity\n\nEversight is the recognized...,4.2,Eversight\n4.2,Remote,"Palo Alto, CA",51 to 200 employees,2013,Company - Private,Enterprise Software & Network Solutions,Information Technology,$10 to $25 million (USD),-1
11,Junior Business Intelligence Analyst,$112K-$133K (Glassdoor est.),Junior Business Intelligence Analyst\nMWE is s...,-1.0,"Midwest Equipment Sales, LLC","Columbus, OH",-1,-1,-1,-1,-1,-1,-1,-1
12,"Data Scientist, Health Economics & Advanced An...",$112K-$133K (Glassdoor est.),Overview\n\n\nAvalere Health is seeking a Data...,3.2,Avalere Health\n3.2,"Washington, DC","Washington, DC",201 to 500 employees,2000,Company - Public,Consulting,Business Services,Unknown / Non-Applicable,-1
13,"Data Scientist, Product Analytics",$112K-$133K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1
14,Data Scientist,$112K-$133K (Glassdoor est.),Why We Work at Dun & Bradstreet\n\n\nWe are at...,3.0,Dun & Bradstreet\n3.0,"Austin, TX","Short Hills, NJ",1001 to 5000 employees,1841,Company - Public,IT Services,Information Technology,$1 to $2 billion (USD),"Experian, Equifax"
15,Data Analyst (Informatica),$112K-$133K (Glassdoor est.),"Location: Carmel, Indiana, Eagan, Minnesota, o...",3.2,MISO\n3.2,"Carmel, IN","Carmel, IN",501 to 1000 employees,1998,Nonprofit Organization,Energy,"Oil, Gas, Energy & Utilities",Unknown / Non-Applicable,"PJM Interconnection, Southwest Power Pool"
16,Senior Data Scientist,$112K-$133K (Glassdoor est.),"NanoMosaic LLC, located in Woburn, Massachuset...",-1.0,NanoMosaic,"Woburn, MA","Woburn, MA",Unknown,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1
17,Data Scientist,$112K-$133K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,3.0,Affinity Solutions\n3.0,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
18,Data Analyst/Programmer,$112K-$133K (Glassdoor est.),Data Analyst/Programmer\n\n\nWoodland Hills\n\...,3.2,Apollo Global Management\n3.2,"Woodland Hills, UT","New York, NY",1001 to 5000 employees,1990,Company - Public,Venture Capital & Private Equity,Finance,$1 to $2 billion (USD),-1
19,"Data Scientist - Statistics, Early Career",$112K-$133K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310918\n\n...,3.8,Pacific Northwest National Laboratory\n3.8,"Seattle, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."

In [6]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [7]:
df.shape

(200, 14)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          200 non-null    object
 1   Salary Estimate    200 non-null    object
 2   Job Description    200 non-null    object
 3   Rating             200 non-null    float64
 4   Company Name       200 non-null    object
 5   Location           200 non-null    object
 6   Headquarters       200 non-null    object
 7   Size               200 non-null    object
 8   Founded            200 non-null    int64
 9   Type of ownership  200 non-null    object
 10  Industry           200 non-null    object
 11  Sector             200 non-null    object
 12  Revenue            200 non-null    object
 13  Competitors        200 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 22.0+ KB

In [9]:
#Things to do 
#salary pursing#
#company name text only
#state column
#age of company
#parsing of jobs descriptions

In [10]:
#salary pursing#

In [11]:
#checking if salary estimate column has -1i.e no salaray
df=df[df['Salary Estimate']!=-1]

In [12]:
df.shape

(200, 14)

In [13]:
#making column for per hour and employee provided salary if that in Salary Estimate column
#hourly column 1 if per hour in df
#df['hourly']=df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower()else 0)

#employee_provided column 1 if emplyee provided salary: in df
#df['employee_provided']= df['Salry Estimate'].apply(lambda x: 1 if 'emplyee provided salary:' in x.lower()else 0))

In [14]:
#splitting Salary Estimate column by '(' and choosing only first number part
salary = df['Salary Estimate'].apply(lambda x: x.split('(') [0])

In [15]:
salary

0      $112K-$133K
1      $112K-$133K
2      $112K-$133K
3      $112K-$133K
4      $112K-$133K
           ...
195     $75K-$127K
196     $75K-$127K
197     $75K-$127K
198     $75K-$127K
199     $75K-$127K
Name: Salary Estimate, Length: 200, dtype: object

In [16]:
#removing K and $ sign from salary 
minus_kd=salary.apply(lambda x: x.replace('K', ' '). replace('$', ' '))

In [17]:
#removing per hour and employee provided salary from Salary Estimate (if thats in column)
#minus_hr = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('emoloyee provided salary:', ''))

In [18]:
# making minimum salary column
df['min_salary']=minus_kd.apply(lambda x: int(x.split('-')[0]))

In [19]:
#making maximum salary column
df['max_salary']=minus_kd.apply(lambda x: int(x.split('-')[1]))

In [20]:
df['avg_salary']=(df.min_salary+df.max_salary)/2

In [21]:
#company name text only#

In [22]:
df['Company Name']

0                               Cytracom\n5.0
1                                 Entefy\n4.3
2           Breckenridge Grand Vacations\n4.6
3                                    SEI\n4.6
4      Make-A-Wish Foundation of America\n3.6
                        ...
195         Southwest Research Institute\n4.1
196              Plymouth Rock Assurance\n3.5
197                            Blackbaud\n3.6
198                         CA-One Tech Cloud
199                     Crown Bioscience\n2.4
Name: Company Name, Length: 200, dtype: object

In [23]:
#removing rating number from Company Name. Since if there is no rating in Rating column there is no rating number in Company Name column)
df['company_txt']=df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-4], axis=1 )

In [24]:
df['company_txt']

0                               Cytracom
1                                 Entefy
2           Breckenridge Grand Vacations
3                                    SEI
4      Make-A-Wish Foundation of America
                     ...
195         Southwest Research Institute
196              Plymouth Rock Assurance
197                            Blackbaud
198                    CA-One Tech Cloud
199                     Crown Bioscience
Name: company_txt, Length: 200, dtype: object

In [25]:
#state column#

In [26]:
df['Location']

0              Allen, TX
1          Palo Alto, CA
2       Breckenridge, CO
3            Atlanta, GA
4            Phoenix, AZ
             ...
195      San Antonio, TX
196       Woodbridge, NJ
197       Saint Paul, MN
198    San Francisco, CA
199        San Diego, CA
Name: Location, Length: 200, dtype: object

In [27]:
df['Location'] = df['Location']. apply(lambda x: x.replace('Virginia', 'Virginia, VA').replace( 'New Jersey','New Jersey, NJ').replace('Remote',"Remote, Remote").replace( 'Utah', 'Utah, UT').replace('United States','United States, USA'))

In [28]:
#making state column
df['State'] = df['Location'].apply(lambda x: x.split(',')[-1])

In [29]:
#looking job for each state
df['State'].value_counts()

 CA        39
 NY        18
 TX        17
 VA        16
 MA        13
 MD         9
 OH         7
 WI         7
 Remote     6
 IL         6
 CO         5
 UT         5
 WA         5
 DC         5
 MN         4
 MO         3
 IN         3
 NJ         3
 USA        3
 AZ         3
 GA         3
 PA         3
 NE         2
 NC         2
 DE         1
 MI         1
 KS         1
 OR         1
 AL         1
 FL         1
 ND         1
 MS         1
 NV         1
 OK         1
 CT         1
 RI         1
 LA         1
Name: State, dtype: int64

In [30]:
#checking if job posting are in headquaters 
df['same_state']=df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis=1)

In [31]:
df['same_state']

0      1
1      1
2      1
3      0
4      1
      ..
195    1
196    0
197    0
198    0
199    1
Name: same_state, Length: 200, dtype: int64

In [32]:
#age of company#
df['Company_age'] = df['Founded'].apply(lambda x: x if x<1 else 2020-x )

In [33]:
#parsing job description#

In [34]:
#looking for one company job description
df['Job Description'][0]

"About Us:\n\nLocated in Allen, TX Cytracom is the leading SaaS provider of business voice services delivered through the IT channel and our mission is to make business communications simple!\n\nAs for the culture, we love going to work and think you should too! The team holds our company culture near and dear as it represents an intermix between passion for leadership and passion for an active, healthy life centered around family and friends. Cytracom represents community, collaboration, camaraderie and we are DOUBLING in size this year! It's a very exciting time here at Cytracom and we are focused on finding the best talent as we continue to grow!\n\nOur Benefits:\n\n• Medical, dental, and vision insurance is available\n• 401K\n• Disability insurance\n• Paid vacations and holidays\n• Flexible PTO policy\n• Casual, laid-back work environment\n• Free snacks\n\nHere's a closer look at this key role:\n\nThe Data Scientist will use data-based insights to conceptualize, plan, and develop solutions to solve complex problems. In this role, you will be responsible for discovering information and identifying patterns within vast amounts of data and using that data to help our teams make smarter decisions. Your primary focus will be in applying data mining techniques, data visualization, doing statistical analysis, and building high-quality prediction systems.\n\nRequirements:\n2+ years of recent experience working as a data scientist.\nExpertise in SQL (including but not limited to transforming data) and proficiency in another data programming language (Python, R, etc.)\nExperience in creating experiments and analyzing results that drive key decisions\nProficiency in one or more analytics & visualization tools (e.g., Looker, Tableau, etc.)\nStrong interpersonal skills and the ability to tailor communication such as analyses and interpretations to match the audience\nWe prefer someone who currently lives in the DFW metroplex\nResponsibilities:\nMaintain solid working relationships with all stakeholders, primarily the Executive Team.\nWork with business experts to better understand goals and identify alternative approaches to extract insights from data.\nDrive adoption of BI platform across organization\nPresent ideas/analyses/interpretations in a clear, concise manner tailored to audience\nMaintain integrity, organization and consistency of data by coordinating with system administration to ensure accurate data input or collection and by managing ETL processes"

''''
 def job_des(title):
    if 'python' in title.lower():
        return 'Python'
    if 'r studio' in title.lower():
        return 'R Studio'
    if 'excel' in title.lower():
        return 'Excel'
    if 'spark' in title.lower():
        return 'Spark''''

In [35]:
#c = df['Job Description'].apply(job_des)
#c.value_counts()

In [36]:
#python
df['python_req'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['python_req']. value_counts()

1    135
0     65
Name: python_req, dtype: int64

In [37]:
#R studio
df['rstudio_req'] = df['Job Description'].apply(lambda x: 1 if 'r' and 'r studio' in x.lower() else 0)
df['rstudio_req']. value_counts()

0    198
1      2
Name: rstudio_req, dtype: int64

In [38]:
#Excel
df['excel_req'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['excel_req'].value_counts()

1    103
0     97
Name: excel_req, dtype: int64

In [39]:
#spark
df['spark_req'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['spark_req'].value_counts()

0    156
1     44
Name: spark_req, dtype: int64

In [40]:
#fixing job title and seniority
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'data analyst'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'machine' in title.lower():
        return 'machine learning scientist'
    else:
        return 'na'

In [41]:
def seniority(title):
    if 'sr' in title.lower() or 'sr.' in title.lower() or'senior'in title.lower() or 'lead'in title.lower() or 'principal'in title.lower():
          return 'senior'
    elif 'jr' in title.lower() or 'junior' in title.lower() or 'jr.' in title.lower():
        return 'junior'
    else:
        return 'na'

In [42]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,avg_salary,company_txt,State,same_state,Company_age,python_req,rstudio_req,excel_req,spark_req
0,Data Scientist,$112K-$133K (Glassdoor est.),"About Us:\n\nLocated in Allen, TX Cytracom is ...",5.0,Cytracom\n5.0,"Allen, TX","Allen, TX",1 to 50 employees,2008,Company - Private,...,133,122.5,Cytracom,TX,1,12,1,0,0,0
1,Data Scientist,$112K-$133K (Glassdoor est.),Entefy’s Senior Data Scientist is a highly vis...,4.3,Entefy\n4.3,"Palo Alto, CA","Palo Alto, CA",1 to 50 employees,2012,Company - Private,...,133,122.5,Entefy,CA,1,8,1,0,0,0
2,Data Analyst,$112K-$133K (Glassdoor est.),Breckenridge Grand Vacations (BGV) is seeking ...,4.6,Breckenridge Grand Vacations\n4.6,"Breckenridge, CO","Breckenridge, CO",501 to 1000 employees,1984,Company - Private,...,133,122.5,Breckenridge Grand Vacations,CO,1,36,1,0,1,0
3,Data & Analytics Consultant,$112K-$133K (Glassdoor est.),WHO WE LOOK FOR\n\nAn SEI Consultant is a mast...,4.6,SEI\n4.6,"Atlanta, GA","Cincinnati, OH",201 to 500 employees,1992,Company - Private,...,133,122.5,SEI,GA,0,28,1,0,1,0
4,Data Analyst,$112K-$133K (Glassdoor est.),"At Make-A-Wish® America, we are more than a gr...",3.6,Make-A-Wish Foundation of America\n3.6,"Phoenix, AZ","Phoenix, AZ",1001 to 5000 employees,1980,Nonprofit Organization,...,133,122.5,Make-A-Wish Foundation of America,AZ,1,40,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,LEAD ENGINEER - SR. COMPUTER SCIENTIST - SR. R...,$75K-$127K (Glassdoor est.),What’s the next hardest challenge for autonomo...,4.1,Southwest Research Institute\n4.1,"San Antonio, TX","San Antonio, TX",1001 to 5000 employees,1947,Nonprofit Organization,...,127,101.0,Southwest Research Institute,TX,1,73,0,0,1,0
196,Senior Data Scientist,$75K-$127K (Glassdoor est.),The Senior Data Scientist independently develo...,3.5,Plymouth Rock Assurance\n3.5,"Woodbridge, NJ","Boston, MA",1001 to 5000 employees,1982,Company - Private,...,127,101.0,Plymouth Rock Assurance,NJ,0,38,0,0,1,0
197,Data Architect,$75K-$127K (Glassdoor est.),The Data Platform at Blackbaud is a core domai...,3.6,Blackbaud\n3.6,"Saint Paul, MN","Charleston, SC",1001 to 5000 employees,1981,Company - Public,...,127,101.0,Blackbaud,MN,0,39,1,0,1,1
198,Principal Data Scientist with over 10 years ex...,$75K-$127K (Glassdoor est.),Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,...,127,101.0,CA-One Tech Cloud,CA,0,3,1,0,1,0
199,Scientist - Biomarker and Flow Cytometry,$75K-$127K (Glassdoor est.),"Crown Bioscience, a JSR Life Sciences company,...",2.4,Crown Bioscience\n2.4,"San Diego, CA","San Diego, CA",501 to 1000 employees,2006,Company - Private,...,127,101.0,Crown Bioscience,CA,1,14,0,0,0,0

In [43]:
df['job_simp'] = df['Job Title']. apply(title_simplifier)
df['job_simp']. value_counts()

data scientist    96
data engineer     37
data analyst      35
na                26
manager            5
director           1
Name: job_simp, dtype: int64

In [44]:
df['seniority'] = df['Job Title']. apply(seniority)
df['seniority']. value_counts()

na        155
senior     43
junior      2
Name: seniority, dtype: int64

In [45]:
#job description length
df['desc_length'] = df['Job Description'].apply(lambda x: len(x))

In [46]:
df['desc_length']

0      2462
1      1188
2      5746
3      4135
4      3853
       ...
195    2562
196    3239
197    6081
198    1632
199    3374
Name: desc_length, Length: 200, dtype: int64

In [47]:
df['Competitors']

0                              RingCentral, Nextiva, 8x8
1                                                     -1
2                                                     -1
3                                                     -1
4                                                     -1
                             ...
195    Los Alamos National Laboratory, Battelle, SRI ...
196                  Arbella Insurance, Safety Insurance
197                                                   -1
198                                                   -1
199                                                   -1
Name: Competitors, Length: 200, dtype: object

In [48]:
#compeititor count by splitting on , and count each if its not equal to -1
df['num_competitors'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)

In [49]:
df['num_competitors']

0      3
1      0
2      0
3      0
4      0
      ..
195    3
196    2
197    0
198    0
199    0
Name: num_competitors, Length: 200, dtype: int64

In [50]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,same_state,Company_age,python_req,rstudio_req,excel_req,spark_req,job_simp,seniority,desc_length,num_competitors
0,Data Scientist,$112K-$133K (Glassdoor est.),"About Us:\n\nLocated in Allen, TX Cytracom is ...",5.0,Cytracom\n5.0,"Allen, TX","Allen, TX",1 to 50 employees,2008,Company - Private,...,1,12,1,0,0,0,data scientist,na,2462,3
1,Data Scientist,$112K-$133K (Glassdoor est.),Entefy’s Senior Data Scientist is a highly vis...,4.3,Entefy\n4.3,"Palo Alto, CA","Palo Alto, CA",1 to 50 employees,2012,Company - Private,...,1,8,1,0,0,0,data scientist,na,1188,0
2,Data Analyst,$112K-$133K (Glassdoor est.),Breckenridge Grand Vacations (BGV) is seeking ...,4.6,Breckenridge Grand Vacations\n4.6,"Breckenridge, CO","Breckenridge, CO",501 to 1000 employees,1984,Company - Private,...,1,36,1,0,1,0,data analyst,na,5746,0
3,Data & Analytics Consultant,$112K-$133K (Glassdoor est.),WHO WE LOOK FOR\n\nAn SEI Consultant is a mast...,4.6,SEI\n4.6,"Atlanta, GA","Cincinnati, OH",201 to 500 employees,1992,Company - Private,...,0,28,1,0,1,0,na,na,4135,0
4,Data Analyst,$112K-$133K (Glassdoor est.),"At Make-A-Wish® America, we are more than a gr...",3.6,Make-A-Wish Foundation of America\n3.6,"Phoenix, AZ","Phoenix, AZ",1001 to 5000 employees,1980,Nonprofit Organization,...,1,40,0,0,0,0,data analyst,na,3853,0